*.class

# Package Files #
*.war
*.ear

/.settings/*
/WebRoot/META-INF/*
*/.idea/*
/.idea/*
*/.git/*
*/_notes/*
/WebRoot/WEB-INF/classes/*
.project
.classpath
/bin
/.myeclipse/*
.mymetadata
/WebRoot/JDiy_data/*
/WebRoot/WEB-INF/.gitignore
/public/runtime/*
/public/image/*
/WebRoot/node_modules/*
package.json
Gruntfile.js
README.MD

/WebRoot/front/*_qy.jsp
/WebRoot/front/controllers/*_qy.js
/WebRoot/public/runtime/*
/WebRoot/public/upload/*
/WebRoot/WEB-INF/ftl/admins/inc/role/*