<!DOCTYPE html>
<html class="body-hid">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
	          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>商品列表</title>
		<!--oss库资源引用-->
		<!--字体图标库-->
	    <link rel="stylesheet" href="http://common.huibaoming.cn/font-awesome/css/font-awesome.css">
	    <link rel="stylesheet" href="http://common.huibaoming.cn/jquery-weui/css/weui.css">
	    <link rel="stylesheet" href="http://common.huibaoming.cn/jquery-weui/css/jquery-weui.css">
	    <!--当前项目样式引用-->
	    <link rel="stylesheet" type="text/css" href="http://static.huibaoming.cn/wap/src/css/wap_public.css"/>
		<link rel="stylesheet" href="http://static.huibaoming.cn/wap/src/css/wap.css">
	    <link rel="stylesheet" href="../src/css/deal.css">
		<script>
			var json=[];
		</script>
	</head>
	<body class="body-hid" ng-app="app" ng-controller="ctrl">
		<!--头部-->
		<header class="back-header weui-flex bg-white header_bBor">
			<span class="back-header-icon icon-chevron-left flex_item1 sc-text-blue" onclick="javascript:window.history.go(-1);"></span>
			<h1 class="back-header-h1 flex_item4 sc-text-blue">家电维修</h1>
			<a class="flex_item1 header-right sc-text-blue"></a>
		</header>
		<section class="weui-flex deal_section fix_containner mar-b0" style="height: 85%;">
			<!--侧导航-->
			<nav class="flex_item1 deal_nav">
				<a href="#tab{{ $index }}" ng-class="{'deal_nav_active':$index==0}" onclick="aSkip(this)" ng-repeat="item in jsonlist" ng-bind="item.list"></a>
			</nav>
			<article class="flex_item3 bg-white deal_article" id="deal_article">
				<!--循环体-->
				<div id="tab{{ $index }}" ng-repeat="itemlist in jsonlist">
					<figure class="weui-grids" ng-repeat="itemnum in itemlist.listnum">
						<header class="article_header" ng-bind="itemnum.type"></header>
						<a href="#" class="weui-grid js_grid cancle open-popup" ng-click="showDetail()" ng-repeat="item in itemnum.typename">
							<div class="weui-grid__icon lit_img">
								<img ng-src="{{ item.url }}" class="u-radius" alt="">
							</div>
							<p class="weui-grid__label" ng-bind="item.name"></p>
						</a>
					</figure>
				</div>
				<div style="width:100%;height:8rem"></div>
			</article>

		</section>
		<!--弹出层-->
		<!--商品详情-->
		<section id="popup_detail" class="weui-popup__container" style="top: 2.5rem;">
			<!--<div class="weui-popup__overlay"></div>-->
  			<div class="weui-popup__modal">
				<header>
					<img ng-src="{{ jsondetail.url }}" style="width: 100%; height: 4rem;"/>
				</header>
				<div class="detail_section">
					<article class="detail_article">
						<header class="detail_header">服务介绍</header>
						<aside class="detail_aside text-astrict showLine-4" ng-bind="jsondetail.msg">
							Phasellus porta fermentum est et eleifend. Pellentesque dapibus fermentum tortor, non fermentum sem vehicula sit amet. Vivamus sed justo nisl. Nunc suscipit scelerisque ex, at mattis ipsum elementum sed. Cras eget neque ut justo dignissim tempus. In eu mi sagittis, fringilla lorem ac, porttitor ante. Duis fermentum, leo eget gravida cursus, eros mi congue est, et aliquam lectus enim ac ipsum. Cras eu lacus non odio laoreet fringilla. Curabitur eget enim vitae velit tincidunt aliquam. Aliquam nec tortor eu sapien efficitur rhoncus eu vel ante.
		
						</aside>
						<table class="detail_table" >
							<tr style="background: #008CD7;">
								<th>清洗项目</th>
								<th>单位</th>
								<th>原价</th>
								<th>特价</th>
							</tr>
							<tr>
								<td ng-bind="jsondetail.project_name"></td>
								<td ng-bind="jsondetail.unit"></td>
								<td ng-bind="jsondetail.cost_price"></td>
								<td ng-bind="jsondetail.special_pirce"></td>
							</tr>
						</table>
					</article>
					<!--服务时长-->
					<article>
						<header class="header_mar">
							<div class="detail_header">服务时长</div>
						</header>
						<div class="header_mar bg-white text-font2" style="padding-left: 1.7rem;" ng-bind="jsondetail.time+'分钟/台'"></div>
					</article>
					<!--清洗流程-->
					<article>
						<header class="header_mar">
							<div class="detail_header">清洗流程</div>
						</header>
						<div class="header_mar bg-white text-font2" style="padding-left: 1.7rem;">
							<ui class="wash_ui" ng-bind-html="jsondetail.flow">
								<!--<li>验机</li>-->
								<!--<li>准备工具、做环境防护</li>-->
								<!--<li>拆卸外壳、做电路防护</li>-->
								<!--<li>多功能清洗机进行深度清洗</li>-->
								<!--<li>清洗外壳部件</li>-->
								<!--<li>机器安装还原</li>-->
								<!--<li>试机、清理现场</li>-->
							</ui>
						</div>
					</article>
					<!--服务保养工具-->
					<article>
						<header class="header_mar">
							<div class="detail_header">清洗流程</div>
						</header>
						<div class="header_mar bg-white text-font2" style="padding-left: 1.7rem;">
							<ui class="wash_ui" ng-bind-html="jsondetail.tool">
								<!--<li>十分到家家庭环境防护套装</li>-->
								<!--<li>多功能高压清洗机</li>-->
								<!--<li>空调专用清洗保护罩</li>-->
							</ui>
						</div>
					</article>
					<a href="javascript:;" class="weui-btn weui-btn_primary detail_btn bg-qblue">立即下单</a>
					<a href="javascript:;" class="weui-btn weui-btn_default close-popup detail_btn" style="margin-bottom: 1rem;">关闭</a>
				</div>
			</div>
		</section>
		
		<!--底部导航栏-->
	    <footer class="weui-tabbar" id="footer">
	        <div class="weui-tabbar">
	            <a  class="weui-tabbar__item">
	                <!--<span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>-->
	                <div class="weui-tabbar__icon weui-tar__img">
	                    <img src="http://common.huibaoming.cn/wap/images/icon/home1.png" alt="">
	                </div>
	                <p class="weui-tabbar__label text-font2">首页</p>
	            </a>
	            <a  class="weui-tabbar__item weui-bar__item--on">
	                <div class="weui-tabbar__icon weui-tar__img">
	                    <img src="http://common.huibaoming.cn/wap/images/icon/classify.png" alt="">
	                </div>
	                <p class="weui-tabbar__label text-font2 sc-text-blue">分类</p>
	            </a>
	            <a class="weui-tabbar__item ">
	                <div class="weui-tabbar__icon weui-tar__img">
	                    <img src="http://common.huibaoming.cn/wap/images/icon/search.png" alt="">
	                </div>
	                <p class="weui-tabbar__label text-font2">发现</p>
	            </a>
	            <a  class="weui-tabbar__item">
	                <div class="weui-tabbar__icon weui-tar__img">
	                    <img src="http://common.huibaoming.cn/wap/images/icon/user.png" alt="">
	                </div>
	                <p class="weui-tabbar__label text-font2">我</p>
	            </a>
	        </div>
	    </footer>
	</body>
	<script src="http://common.huibaoming.cn/jquery/jquery.js"></script>
	<script src="http://common.huibaoming.cn/angular/angular.js"></script>
	<script src="http://common.huibaoming.cn/angular/angular-sanitize.js"></script>
	<script src="../src/js/jquery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://common.huibaoming.cn/jquery-weui/js/jquery-weui.js"></script>
	<script src="http://common.huibaoming.cn/jquery-weui/js/city-picker.js"></script>
	<script src="http://common.huibaoming.cn/swiper/js/swiper.js"></script>
	<script src="../src/js/deal.js"></script>
</html>
