<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分销订单-恵学淘微营销</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--oss库资源引用-->
    <!--字体图标库-->
    <link rel="stylesheet" href="http://common.huibaoming.cn/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="http://common.huibaoming.cn/jquery-weui/css/weui.css">
    <link rel="stylesheet" href="http://common.huibaoming.cn/jquery-weui/css/jquery-weui.css">
    <!--当前项目样式引用-->
    <link rel="stylesheet" type="text/css" href="../src/css/wap_public.css"/>
    <link rel="stylesheet" type="text/css" href="../src/css/wap.css">
    <link rel="stylesheet" type="text/css" href="../src/css/fxOrder.css">
</head>
<body>
    <nav class="classify_nav">
        <ul class="weui-flex">
            <li class="nav_li_checked weui-flex__item">
                <span class="nav_msg ng-binding">商城</span>
            </li>
            <li class="weui-flex__item">
                <span class="nav_msg ng-binding">商城</span>
            </li>
            <li class="weui-flex__item">
                <span class="nav_msg ng-binding">商城</span>
            </li>
            <!-- ngRepeat: item in json.type_list -->
            <!--<li data-base="1" ng-repeat="item in json.type_list" ng-click="nav_click($index)" class="ng-scope">
                <span class="nav_msg ng-binding" ng-bind="item.name" ng-class="{active:tab==$index}">商城</span>
            </li>-->
            <!-- end ngRepeat: item in json.type_list -->
        </ul>
    </nav>
    <div class="fix_containner con">
        <div class="search text-font3 text-r ">
            <span class="mar-r5 open-popup" data-target="#half">
                筛选&nbsp;/&nbsp;<i class="icon-filter sc-text-blue"></i>
            </span>
        </div>
        <section class="pro_lists mar-t5">
            <ul id="pro_list">
                <li>
                    <p class="top_info text-r ">
                        订单状态：
                        <span>
							已支付
						</span>
                    </p>
                    <div class="list_con" >
                        <div class="des_item text-font3 mar-t4 mar-b4">
                            2017夏季韩版新款女装小清新印花
                        </div>
                        <div class="price fr mar-t4 mar-b4 text-r text-weight3">
                            ￥20.99
                        </div>
                    </div>
                    <p class="operate">
                        <span class="fl text-font3">
                            购买者：王尼玛
                        </span>
                        <span class="fr text-r">
                            x2
                        </span>
                    </p>
                </li>
                <li>
                    <p class="top_info text-r ">
                        订单状态：
                        <span>
							已支付
						</span>
                    </p>
                    <div class="list_con" >
                        <div class="des_item text-font3 mar-t4 mar-b4">
                            糖力圆领黑色无袖露肩糖力圆领黑色无袖露肩 糖力圆领黑色无袖露肩 糖力圆领黑色无袖露肩
                        </div>
                        <div class="price fr mar-t4 mar-b4 text-r text-weight3">
                            ￥20.99
                        </div>
                    </div>
                    <p class="operate">
                        <span class="fl text-font3">
                            购买者：王尼玛
                        </span>
                        <span class="fr text-r">
                            x2
                        </span>
                    </p>
                </li>
                <li>
                    <p class="top_info text-r ">
                        订单状态：
                        <span>
							已支付
						</span>
                    </p>
                    <div class="list_con" >
                        <div class="des_item text-font3 mar-t4 mar-b4">
                            包邮双响炮洋酒JimBeam hi
                            美国白占边波本威士忌酒
                        </div>
                        <div class="price fr mar-t4 mar-b4 text-r text-weight3">
                            ￥20.99
                        </div>
                    </div>
                    <p class="operate">
                        <span class="fl text-font3">
                            购买者：王尼玛
                        </span>
                        <span class="fr text-r">
                            x2
                        </span>
                    </p>
                </li>
                <li>
                    <p class="top_info text-r ">
                        订单状态：
                        <span>
							已支付
						</span>
                    </p>
                    <div class="list_con" >
                        <div class="des_item text-font3 mar-t4 mar-b4">
                            包邮双响炮洋酒JimBeam hi
                            美国白占边波本威士忌酒
                        </div>
                        <div class="price fr mar-t4 mar-b4 text-r text-weight3">
                            ￥20.99
                        </div>
                    </div>
                    <p class="operate">
                        <span class="fl text-font3">
                            购买者：王尼玛
                        </span>
                        <span class="fr text-r">
                            x2
                        </span>
                    </p>
                </li>
            </ul>
        </section>
        <div class="weui-loadmore loadMore ">
            <i class="weui-loading"></i>
            <span class="weui-loadmore__tips">正在加载</span>
        </div>
        <div class="weui-loadmore hide" ng-hide="has_data">
            <span class="weui-loadmore__tips">没有更多商品了哦</span>
        </div>
    </div>
    <!--底部弹出筛选框-->
    <div id="half" class="weui-popup__container popup-bottom ">
        <div class="weui-popup__overlay  weui-popup-overlay"></div>
        <div class="weui-popup__modal">
            <div class="toolbar">
                <div class="toolbar-inner">
                    <a href="javascript:;" class="picker-button close-popup">关闭</a>
                    <h1 class="title">订单状态筛选</h1>
                </div>
            </div>
            <div class="modal-content demos-content-padded mar-t5 mar-b5">
                <a href="javascript:;" class="weui-btn weui-btn_primary width90">已支付</a>
                <a href="javascript:;" class="weui-btn weui-btn_default width90">未支付</a>
            </div>
        </div>
    </div>
    <script src="http://common.huibaoming.cn/jquery/jquery.js"></script>
    <script src="http://common.huibaoming.cn/jquery-weui/js/jquery-weui.js"></script>
    <script>
        var loading = false;  //状态标记
        $(document.body).infinite().on("infinite", function() {
            if(loading) return;
            loading = true;
            setTimeout(function() {
                $("#pro_list").append('<li><p class="top_info text-r ">订单状态： <span>已支付</span></p>'
                        +'<div class="list_con" ><div class="des_item text-font3 mar-t4 mar-b4">'
                    +'糖力圆领黑色无袖露肩糖力圆领黑色无袖露肩 糖力圆领黑色无袖露肩 糖力圆领黑色无袖露肩</div>'
                    +'<div class="price fr mar-t4 mar-b4 text-r text-weight3">￥20.99</div></div>'
                    +'<p class="operate"><span class="fl text-font3">购买者：王尼玛</span><span class="fr text-r">x2'
                    +'</span></p></li>');
                loading = false;
            }, 1500);   //模拟延迟
        });

    </script>
</body>
</html>