<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="http://common.huibaoming.cn/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="http://common.huibaoming.cn/jquery-weui/css/weui.css">
    <link rel="stylesheet" href="http://common.huibaoming.cn/jquery-weui/css/jquery-weui.css">
    <link rel="stylesheet" href="../src/css/haivitDeal.css">
    <link rel="stylesheet" href="../src/css/wap.css">
    <link rel="stylesheet" href="../src/css/wap_public.css">

</head>
<body ng-app="app" ng-controller="ctrl">
<!--头部-->
<header class="back-header weui-flex bg-white">
    <span class="back-header-icon flex_item1"></span>
    <h1 class="back-header-h1 flex_item4">永鑫商城</h1>
    <a class="flex_item1 header-right"></a>
</header>
<nav class="classify_nav">
    <ul>
        <li class="active" data-base="1">首页</li>
        <li data-base="2">理财商品</li>
        <li data-base="2">普通商品</li>
        <li data-base="2">兑换商品</li>
    </ul>
</nav>
<!--轮播区-->
<!--swiper容器[可以随意更改该容器的样式-->
<div class="swiper-container" style="width:100%;margin-top:2.5rem;">
    <div class="swiper-wrapper">
        <div class="swiper-slide" ng-repeat="item in json.swiper_url">
            <!--<img src="{{json_config.oss_common_url}}/{{item.selected_icon}}" style="width:100%;height:11rem"/>-->
            <img ng-src="{{ item.imgurl}}" style="width:100%;height:11rem"/>
        </div>
    </div>
    <!--<div class="swiper-pagination" style="width: 100px;margin:0 auto"></div>&lt;!&ndash;分页器&ndash;&gt;、-->
    <!--<div class="swiper-button-prev"></div>&lt;!&ndash;前进按钮&ndash;&gt;-->
    <!--<div class="swiper-button-next"></div>&lt;!&ndash;后退按钮&ndash;&gt;-->
</div>
<!--通告区-->
<div class="weui-row bg-white nav_form mar-t1">
    <div class="weui-col-20 mar-l2" id="box_title">
        <img src="http://common.huibaoming.cn/wap/images/form.png" alt="" style="width:16px">
        <span class="text-font3">公告</span>
    </div>
    <div class="weui-col-60">
        <div class="nav_form_title">
            <ul id="title_msg">
                <li ng-repeat="item in json.title_list" ng-bind="item.title"></li>
            </ul>
        </div>
    </div>
    <div class="weui-col-20 text-r"><span class="icon icon-angle-right"></span></div>
</div>
<!--导航区-->
<div class="text-c bg-white mar-t1 pad-t2 pad-b2 classify_nav">
    <div class="grid classify_div">
        <div class="grid_item nav_item" ng-repeat="items in jsonList2.nav">
            <img ng-src="{{items.url}}" src="http://common.huibaoming.cn/wap/images/icon/inchange.png" alt="">
            <p ng-bind="items.name">购物车</p>
        </div>
        <!--<div class="grid_item nav_item">
            <img src="http://common.huibaoming.cn/wap/images/icon/transfer.png" alt="">
            <p>购物车</p>
        </div>
        <div class="grid_item nav_item">
            <img src="http://common.huibaoming.cn/wap/images/icon/exchange.png" alt="">
            <p>购物车</p>
        </div>
        <div class="grid_item nav_item">
            <img src="http://common.huibaoming.cn/wap/images/icon/drawback.png" alt="">
            <p>购物车</p>
        </div>
        <div class="grid_item nav_item">
            <img src="http://common.huibaoming.cn/wap/images/icon/admin.png" alt="">
            <p>购物车</p>
        </div>
        <div class="grid_item nav_item">
            <img src="http://common.huibaoming.cn/wap/images/icon/packet.png" alt="">
            <p>购物车</p>
        </div>
        <div class="grid_item nav_item">
            <img src="http://common.huibaoming.cn/wap/images/icon/withdraw.png" alt="">
            <p>购物车</p>
        </div>
        <div class="grid_item nav_item">
            <img src="http://common.huibaoming.cn/wap/images/icon/exchange.png" alt="">
            <p>购物车</p>
        </div>-->
    </div>
</div>
<!--产品展示区-->
<div class="pad-all2 bg-white mar-t3">
    <p class="goods_title">特惠区</p>
</div>
<div class="goods mar-t3">
    <div class="goods_con" ng-repeat="item in json.deal_list" ng-click="getDealDetail(item.id)">
        <div class="goods_item2" style="background-image:url({{item.index_img}})">
            <div class="goods_item2_title"></div>
        </div>
        <div class="goods_msg">
            <h4 ng-bind="item.name"></h4>
            <p>
                <span class="sc-text-warning text-font1">￥</span>
                <span class="goods_msg_price">{{item.price}}</span>
                <span class=" mar-l1 text-font1 sc-text-gray" style="text-decoration:line-through">原价：{{item.price}}</span>
            </p>
        </div>
        <div class="goods_info">
            <span class="text-font1 sc-text-gray">库存：{{item.number}}</span>
        </div>
    </div>

    <div style="clear:both"></div>
    <div class="weui-loadmore loadMore hide">
        <i class="weui-loading"></i>
        <span class="weui-loadmore__tips">正在加载</span>
    </div>
    <div class="weui-loadmore" ng-hide="has_data">
        <span class="weui-loadmore__tips">没有更多记录</span>
    </div>
</div>

</body>
<script src="http://common.huibaoming.cn/jquery/jquery.js"></script>
<script src="http://common.huibaoming.cn/jquery-weui/js/jquery-weui.js"></script>
<script src="http://common.huibaoming.cn/angular/angular.js"></script>
<script src="http://common.huibaoming.cn/swiper/js/swiper.js"></script>
<script>
	
    // angular的js
    $('#title_msg').children('li').css({height:$('#box_title').height(),lineHeight:$('#box_title').height()+'px'});
    var kmy_app = angular.module('app', []);
    var mySwiper = new Swiper(".swiper-container", {
        direction : "horizontal",/* 横向滑动 */
        loop : true,/* 形成环路（即：可以从最后一张图跳转到第一张图 */
        pagination : ".swiper-pagination",/* 分页器 */
        prevButton : ".swiper-button-prev",/* 前进按钮 */
        nextButton : ".swiper-button-next",/* 后退按钮 */
        autoplay : 3000
        /* 每隔3秒自动播放 */
    });
    kmy_app.controller('ctrl', function($scope, $http, $filter,$interval) {
        $scope.nav_data = {};// 导航列表
        $scope.home_data = {};// 首页推荐列表
        $scope.type_data = {};// 分类商品列表

        // 页面要渲染的数据进行变量定义

        $scope.id = "";
        $scope.type_id = "-1";
        $scope.supplier_id = "-1";
        $scope.is_effect = "-1";
        $scope.is_allow = "-1";
        $scope.chose = 0;
        $scope.page = 2;
        $scope.has_data = true;
        /**
         * 获取json数据,服务器返回用来初始化页面的
         */

        $scope.json= {
            swiper_url: [
                {imgurl:"https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1498575495757&di=30768a385e112730198b43015898c6f8&imgtype=0&src=http%3A%2F%2Fpic.qiantucdn.com%2F58pic%2F18%2F36%2F32%2F44T58PICyXA_1024.jpg"},
                {imgurl:"https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1499170243&di=59e8e8a544b8fbb99364a57a5eaaa229&imgtype=jpg&er=1&src=http%3A%2F%2Fpic65.nipic.com%2Ffile%2F20150429%2F20318013_102516438000_2.jpg"},
                {imgurl:"https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1498575523587&di=93e4857acbc2c93fcd72eadd66154db7&imgtype=0&src=http%3A%2F%2Fpic38.nipic.com%2F20140225%2F12213820_122734635000_2.jpg"}
            ],
            deal_list:[
                {name:"手机",price:"300.33",number:"52451",index_img:"https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1498575495757&di=30768a385e112730198b43015898c6f8&imgtype=0&src=http%3A%2F%2Fpic.qiantucdn.com%2F58pic%2F18%2F36%2F32%2F44T58PICyXA_1024.jpg"},
                {name:"手机",price:"300.33",number:"52451",index_img:"https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1498575495757&di=30768a385e112730198b43015898c6f8&imgtype=0&src=http%3A%2F%2Fpic.qiantucdn.com%2F58pic%2F18%2F36%2F32%2F44T58PICyXA_1024.jpg"},
                {name:"手机",price:"300.33",number:"52451",index_img:"https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1498575495757&di=30768a385e112730198b43015898c6f8&imgtype=0&src=http%3A%2F%2Fpic.qiantucdn.com%2F58pic%2F18%2F36%2F32%2F44T58PICyXA_1024.jpg"},
                {name:"手机",price:"300.33",number:"52451",index_img:"https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1498575495757&di=30768a385e112730198b43015898c6f8&imgtype=0&src=http%3A%2F%2Fpic.qiantucdn.com%2F58pic%2F18%2F36%2F32%2F44T58PICyXA_1024.jpg"}
            ],
            title_list:[
                {title:"手机跳楼价1"},
                {title:"手机跳楼价2"},
                {title:"手机跳楼价3"},
                {title:"手机跳楼价4"},
                {title:"手机跳楼价5"}
            ]
        }
        $scope.jsonList2={
        	nav:[
        		{url:"http://common.huibaoming.cn/wap/images/icon/inchange.png",name:"购物车"},
        		{url:"http://common.huibaoming.cn/wap/images/icon/inchange.png",name:"购物车"},
        		{url:"http://common.huibaoming.cn/wap/images/icon/inchange.png",name:"购物车"},
        		{url:"http://common.huibaoming.cn/wap/images/icon/inchange.png",name:"购物车"},
        		{url:"http://common.huibaoming.cn/wap/images/icon/inchange.png",name:"购物车"},
        		{url:"http://common.huibaoming.cn/wap/images/icon/inchange.png",name:"购物车"},
        		{url:"http://common.huibaoming.cn/wap/images/icon/inchange.png",name:"购物车"},
        		{url:"http://common.huibaoming.cn/wap/images/icon/inchange.png",name:"购物车"},
        		{url:"http://common.huibaoming.cn/wap/images/icon/inchange.png",name:"购物车"},
        		{url:"http://common.huibaoming.cn/wap/images/icon/inchange.png",name:"购物车"}
        	]
        }
//      arr=[
//	        {
//	        	nav:[
//	        		{url:"http://common.huibaoming.cn/wap/images/icon/inchange.png",name:"购物车"},
//	        		{url:"http://common.huibaoming.cn/wap/images/icon/inchange.png",name:"购物车"},
//	        		{url:"http://common.huibaoming.cn/wap/images/icon/inchange.png",name:"购物车"},
//	        		{url:"http://common.huibaoming.cn/wap/images/icon/inchange.png",name:"购物车"},
//	        		{url:"http://common.huibaoming.cn/wap/images/icon/inchange.png",name:"购物车"},
//	        		{url:"http://common.huibaoming.cn/wap/images/icon/inchange.png",name:"购物车"},
//	        		{url:"http://common.huibaoming.cn/wap/images/icon/inchange.png",name:"购物车"},
//	        		{url:"http://common.huibaoming.cn/wap/images/icon/inchange.png",name:"购物车"}
//	        	]
//	        }
//			{
//	        	nav:[
//	        		{url:"http://common.huibaoming.cn/wap/images/icon/inchange.png",name:"购物车"},
//	        		{url:"http://common.huibaoming.cn/wap/images/icon/inchange.png",name:"购物车"},
//	        		{url:"http://common.huibaoming.cn/wap/images/icon/inchange.png",name:"购物车"},
//	        		{url:"http://common.huibaoming.cn/wap/images/icon/inchange.png",name:"购物车"},
//	        		{url:"http://common.huibaoming.cn/wap/images/icon/inchange.png",name:"购物车"},
//	        		{url:"http://common.huibaoming.cn/wap/images/icon/inchange.png",name:"购物车"},
//	        		{url:"http://common.huibaoming.cn/wap/images/icon/inchange.png",name:"购物车"},
//	        		{url:"http://common.huibaoming.cn/wap/images/icon/inchange.png",name:"购物车"}
//	        	]
//	        }
//      ]
        
//      $scope.jsonList[0]={};
//      $scope.jsonList[1]={};
//      var j=0;
//      $scope.arr=[];
//      $scope.nav=[];
//       
//      if($scope.jsonList2.nav.length<=8){
//  		$scope.arr.push($scope.jsonList2);
//  		console.log($scope.arr);
//  	}else{
//  		console.log(parseInt($scope.jsonList2.nav.length/8));
//  		for(var j=0;j<parseInt($scope.jsonList2.nav.length/8);j++){
//  			for(var i=0;i<$scope.jsonList2.nav.length;i++){
//	        		
//	        		if(i<8){
//	        			$scope.nav.push($scope.jsonList2.nav[i]);
//	        			
//	        			console.log($scope.nav);
//	        			$scope.arr[0].push($scope.nav);
//	        			console.log($scope.arr);
//	        		}else{
//	        			
//	        		}
//	    		}
//      	}
//      }
       	
       	
        var s=0,lenght=-$scope.json.title_list.length;
        var h=$('#box_title').height();
        $('.nav_form_title').height(h);

        $interval(function () {
            s--;
            if(s<=lenght){
                s=0;
                $('#title_msg').css({'top':'0rem'});
            }else{
                $('#title_msg').animate({'top':s*h});
            }

        },2000)
        /**
         * 拼接地址
         */
        $scope.combineUrl = function(url, app_module_action_param) {
            if (url == "") {
                var return_url = $scope.json_config.domain_url + "/"
                        + app_module_action_param;
                return return_url;
            } else {
                return url;
            }
        };

        /**
         * 当前地址是否是当前页面
         */
        $scope.is_pre_url = function(url, app_module_action_param) {
            var return_url = url;
            if (url == "") {
                return_url = $scope.json_config.domain_url + "/"
                        + app_module_action_param;
            }
            if (return_url == $scope.json_config.pre_url) {
                return true;
            } else {
                return false;
            }
        };

        /**
         * 搜索
         */
        $scope.doSearch = function(is_append) {
            var url = project_url + "/deal/index.do?is_json=2";
            var json_param = {};
            json_param['page'] = $scope.page;

            $http({
                method : 'post',
                url : url,
                data : $.param(json_param),
                headers : {
                    'Content-Type' : 'application/x-www-form-urlencoded'
                }
            })
                    .then(
                            function successCallback(data) {
                                if (is_append) {
                                    if (data.data.deal_list.length > 0)
                                        $scope.json.deal_list.push.apply(
                                                $scope.json.deal_list,
                                                data.data.deal_list);
                                    else {
                                        $scope.has_data = false;
                                    }
                                } else
                                    $scope.json.deal_list = data.data;
                                $scope.page = $scope.page + 1;
                                loading = false;
                            }, function errorCallback(data) {
                                // 请求失败执行代码
                                console.log(data);
                            });
        };

        // 滚动加载
        var loading = false; // 状态标记
        $(document.body).infinite().on("infinite", function() {
            if (loading || !$scope.has_data)
                return;
            $('.loadMore').removeClass('hide');
            loading = true;
            $scope.doSearch(true);
            $('.loadMore').addClass('hide');
        });
    });
</script>
</html>