<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
	          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>手机验证</title>
		<!--oss库资源引用-->
		<!--字体图标库-->
	    <link rel="stylesheet" href="http://common.huibaoming.cn/font-awesome/css/font-awesome.css">
	    <link rel="stylesheet" href="http://common.huibaoming.cn/jquery-weui/css/weui.css">
	    <link rel="stylesheet" href="http://common.huibaoming.cn/jquery-weui/css/jquery-weui.css">
	    <!--当前项目样式引用-->
		<link rel="stylesheet" type="text/css" href="../src/css/wap_public.css"/>
		<link rel="stylesheet" href="../src/css/wap.css">
	    <link rel="stylesheet" href="../src/css/join.css">
	    <script type="text/javascript">
	    	var json={};
	    </script>
	</head>
	<body ng-controller="ctrl">
		<!--头部-->
		<header class="back-header weui-flex bg-white header_bBor">
			<span class="back-header-icon icon-chevron-left flex_item1 sc-text-blue" onclick="javascript:window.history.go(-1);"></span>
			<h1 class="back-header-h1 flex_item4 sc-text-blue">填写认证资料</h1>
			<a class="flex_item1 header-right sc-text-blue"></a>
		</header>
		<div class="box_status" id="show2">
			<div class="weui-cells weui-cells_form bg-white width90" style=" margin:auto; margin-top: 8rem !important;">
		
				<div class="weui-cell weui-cell_vcode">
					<div class="weui-cell__hd">
						<label class="weui-label bc-text text-font4">手机号</label>
					</div>
					<div class="weui-cell__bd">
						<input class="weui-input text-font4" type="tel" placeholder="请输入手机号" required ng-model="phone">
					</div>
					<div class="weui-cell__ft">
						<a class="weui-vcode-btn text-font4" ng-click="login_Code()" ng-bind="get_code"></a>
					</div>
				</div>
		
				<div class="weui-cell">
					<div class="weui-cell__hd"><label class="weui-label bc-text text-font4">验证码</label></div>
					<div class="weui-cell__bd">
						<input class="weui-input text-font4" type="text" placeholder="请输入验证码" ng-model="yanzhengma" required>
					</div>
				</div>
			</div>
		</div>
		
		<a href="javascript:;" class="weui-btn weui-btn_primary width90 bg-qblue" style="margin: auto; margin-top: 2rem;" ng-click="phone_login()">下一步</a>
		
	</body>
	<script src="http://common.huibaoming.cn/jquery/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://common.huibaoming.cn/jquery-weui/js/jquery-weui.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://common.huibaoming.cn/angular/angular.js" type="text/javascript" charset="utf-8"></script>
	<script src="../src/js/enter.js" type="text/javascript" charset="utf-8"></script>
</html>
