<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Access-Control-Allow-Origin" content="*" />
		<title>充值</title>
		<link rel="stylesheet" href="http://common.huibaoming.cn/font-awesome/css/font-awesome.css">
		<link rel="stylesheet" href="http://common.huibaoming.cn/jquery-weui/css/weui.css">
		<link rel="stylesheet" href="http://common.huibaoming.cn/jquery-weui/css/jquery-weui.css">
		<link rel="stylesheet" href="../src/css/userMoney.css">
		<link rel="stylesheet" href="../src/css/wap.css">
		<link rel="stylesheet" href="../src/css/wap_public.css">
		<script src="http://common.huibaoming.cn/jquery/jquery.js"></script>

		
	</head>
	<body class="bg-wechat">
		<!--头部-->
		<header class="back-header weui-flex">
			<span class="back-header-icon icon-chevron-left flex_item1" onclick="javascript:window.history.go(-1);">返回</span>
			<h1 class="back-header-h1 flex_item4">充值</h1>
			<a class="flex_item1 header-right"></a>
		</header>
		<!--提现到银行卡-->
		<div class="fix_containner">
			<div class="star-con width92 margin-auto bg-white pad-b3 box-top">
				<div class="msg-pad1 pad-t4">
					<span class="text-font2">充值方式</span>
					<span class="text-font2 bank-textColor mar-l4"  onclick="submit()" ng-bind="pay_type">ddd</span>
				</div>
				<!--输入价钱-->
				<div class=" bg-white pad-b1 pad-t1 pad-l2">
					<div class="weui-cells__title cancle mar-all0 pad-t4 text-font2">充值金额</div>
					<div class="weui-cells cancle mar-t2">
						<div class="weui-cell">
							<div class="weui-cell__bd text-font5 bank-inputBrb">
								￥<input class="weui-input hx-abr-none width90 input-size" id="money" type="text" disabled ng-model="money">
							</div>
						</div>
					</div>

				</div>
				<a href="javascript:;" class="weui-btn weui-btn_primary mar-t3 bank-btn text-font3 mar-b3" ng-click="check()">确认支付</a>


			</div>

		</div>
		<!--自定义键盘-->
		<div class="weui-grids mar-t3 bg-white fix-footer">
		<a href="#" class="weui-grid js_grid pad-t2 pad-b2" name="btn_num">
		<p class="weui-grid__label text-weight3 calculat_font">1</p>
		</a>
		<a href="#" class="weui-grid js_grid pad-t2 pad-b2" name="btn_num">
		<p class="weui-grid__label text-weight3 calculat_font">2</p>
		</a>
		<a href="#" class="weui-grid js_grid pad-t2 pad-b2" name="btn_num">
		<p class="weui-grid__label text-weight3 calculat_font">3</p>
		</a>
		<a href="#" class="weui-grid js_grid pad-t2 pad-b2" name="btn_num">
		<p class="weui-grid__label text-weight3 calculat_font">4</p>
		</a>
		<a href="#" class="weui-grid js_grid pad-t2 pad-b2" name="btn_num">
		<p class="weui-grid__label text-weight3 calculat_font">5</p>
		</a>
		<a href="#" class="weui-grid js_grid pad-t2 pad-b2" name="btn_num">
		<p class="weui-grid__label text-weight3 calculat_font">6</p>
		</a>
		<a href="#" class="weui-grid js_grid pad-t2 pad-b2" name="btn_num">
		<p class="weui-grid__label text-weight3 calculat_font">7</p>
		</a>
		<a href="#" class="weui-grid js_grid pad-t2 pad-b4" name="btn_num">
		<p class="weui-grid__label text-weight3 calculat_font">8</p>
		</a>
		<a href="#" class="weui-grid js_grid pad-t4 pad-b4" name="btn_num">
		<p class="weui-grid__label text-weight3 calculat_font">9</p>
		</a>
		<a href="#" class="weui-grid js_grid pad-t4 pad-b4 backspace" name="btn_num">
		<p class="weui-grid__label text-weight3 calculat_font">.</p>
		</a>
		<a href="#" class="weui-grid js_grid pad-t4 pad-b4" name="btn_num">
		<p class="weui-grid__label text-weight3 calculat_font">0</p>
		</a>
		<a href="#" class="weui-grid js_grid pad-t4 pad-b4 backspace" id="backspace">
		<p class="weui-grid__label text-weight3 calculat_font">x</p>
		</a>
		</div>
		<!--弹出框-->
		<div id="about" class="weui-popup__container  popup-bottom">
			<div class="weui-popup__overlay weui-popup-overlay"></div>
			<div class="weui-popup__modal" style="overflow:inherit;background:#F8F8F8">
				<!--关闭按钮-->
				<span class="toclose close-popup">关闭</span>
				<!--头部区域-->
				<div class="popup-title">
					<span>选择充值方式</span>
				</div>
				<!--选择区域,可垂直滚动-->
				<article class="weui-cells weui-cells_radio mar-t5">
					<label class="weui-cell weui-check__label" for="x11">
						<div class="weui-cell__hd"><img src="http://common.huibaoming.cn/wap/images/wechat.png" style="width:1.5rem; height:1.5rem;"></div>
						<div class="weui-cell__bd">
							<p>微信支付</p >
						</div>
						<div class="weui-cell__ft">
							<input type="radio" class="weui-check" name="radio1" id="x11" ng-click="chose('微信支付')">
							<span class="weui-icon-checked"></span>
						</div>
					</label>
					<label class="weui-cell weui-check__label" for="x12">
						<div class="weui-cell__hd"><img src="http://common.huibaoming.cn/wap/images/PayTreasure.png" style="width:1.5rem; height:1.5rem;"></div>
						<div class="weui-cell__bd">
							<p>支付宝支付</p >
						</div>
						<div class="weui-cell__ft">
							<input type="radio" class="weui-check" name="radio1" id="x12" ng-click="chose('支付宝')" checked="checked">
							<span class="weui-icon-checked"></span>
						</div>
					</label>
					<label class="weui-cell weui-check__label" for="x13">
						<div class="weui-cell__hd"><img src="http://common.huibaoming.cn/wap/images/bank.png" style="width:1.5rem; height:1.5rem;"></div>
						<div class="weui-cell__bd">
							<p>银联支付</p >
						</div>
						<div class="weui-cell__ft">
							<input type="radio" class="weui-check" name="radio1" id="x13" ng-click="chose('银联')">
							<span class="weui-icon-checked"></span>
						</div>
					</label>
				</article>
				<!--底部按钮区域-->
				<!--<div class="footer-fixed">-->
					<!--<div class="btn-sure bg-green bc-text-header close-popup">确认</div>-->
				<!--</div>-->
			</div>

		</div>
	</body>
	<script src="http://common.huibaoming.cn/jquery-weui/js/jquery-weui.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://common.huibaoming.cn/angular/angular.js" type="text/javascript" charset="utf-8"></script>
	<!--<script src="../src/js/userMoney_incharge.js" type="text/javascript" charset="utf-8"></script>-->
	<script>
		//点击弹出框
		function submit(name){
			$("#about").popup();
		}
	</script>
</html>


