<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
	          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>评价</title>
		<!--oss库资源引用-->
		<!--字体图标库-->
	    <link rel="stylesheet" href="http://common.huibaoming.cn/font-awesome/css/font-awesome.css">
	    <link rel="stylesheet" href="http://common.huibaoming.cn/jquery-weui/css/weui.css">
	    <link rel="stylesheet" href="http://common.huibaoming.cn/jquery-weui/css/jquery-weui.css">
	    <!--当前项目样式引用-->
	    <link rel="stylesheet" type="text/css" href="../src/css/wap_public.css"/>
		<link rel="stylesheet" href="../src/css/wap.css">
		<link rel="stylesheet" href="../src/css/userMoney_M.css">
	</head>
	<body class="money-body" ng-controller="ctrl">
		<header class="back-header weui-flex bg-white header_bBor">
			<span class="back-header-icon icon-chevron-left flex_item1 sc-text-blue" onclick="javascript:window.history.go(-1);"></span>
			<h1 class="back-header-h1 flex_item4 sc-text-blue">我的财务</h1>
			<a class="flex_item1 header-right sc-text-blue"></a>
		</header>
		<div class="money-con text-c">
			<div class="width100">
				<img class="money-img" src="http://common.huibaoming.cn/wap/images/xr/waller.png"/>
			</div>
			<p class="text-weight2 text-font5 mar-t3">我的佣金</p>
			<p class="money_num text-weight2" ng-bind="'￥'+money">123</p>
		</div>
		<!--按钮块-->
		<div class="money-btn mar-t4 width90">
			<a href="javascript:;" class="weui-btn weui-btn_primary bg-qblue" ng-click="widthdraw()">佣金提现</a>
			<a href="javascript:;" class="weui-btn weui-btn_default" ng-click="log()">佣金明细</a>
		</div>
		
		
	</body>
	
</html>
